## Intro

The purpose of today's class is to explore data using **interactive visualizations**. Interactivity is a key part of modern dataviz. It's a way to allow users of your visualizations get their own feel for the data ... to create richer visualization, where people who use your work can expose more of the data by exploring.

## Part 1: Video Lectures and Reading

Starting this week, we'll be playing around with *explanatory data visualization*. Roughly speaking this means using data visualization to communicate your results to others. Thus, there are new things to think about. 

Until today we have worked with static data visualization. However, exploratory data analysis means to be able to explore the multi-faceted nature of data and *interactive dataviz* is a handy tool to do it! It allows to play with the data: Toggle the view. Zoom. Drag. Show more details. All those things. Those are a key part of modern data visualization. 

The video below provides context about these points.

We start with the video and then read a bit from a scientific article about types of explanatory dataviz. (*The video is from an old version of the class that used D3, so just ignore those parts.*).

[![IMAGE ALT TEXT HERE](https://img.youtube.com/vi/yHKYMGwefso/0.jpg)](https://www.youtube.com/watch?v=yHKYMGwefso)

> *Exercises*: Explanatory data visualization
> * What are the three key elements to keep in mind when you design an explanatory visualization?
> * In the video I talk about (1) *overview first*,  (2) *zoom and filter*,  (3) *details on demand*. 
>   - Go online and find a visualization that follows these principles (don't use one from the video). 
>   - Explain how your video achieves (1)-(3). It might be useful to use screenshots to illustrate your explanation.
> * Explain in your own words: How is explanatory data analysis different from exploratory data analysis?

## Part 2: Interactive visualizations with Bokeh



To really master interactive visualizations, you will need to work with JavaScript, especially [D3](https://d3js.org). Given the limited time available for this class, we can't squeeze that in. But luckily Python has some pretty good options for interactive visualizations. You can find a range of different options [here](https://mode.com/blog/python-interactive-plot-libraries/).

Today, we'll explore [`Bokeh`](https://docs.bokeh.org/en/latest/), which provides lots of nice interactive funtionalities to Python. To work with Bokeh, we first set up our system:

1. If you haven't installed it yet please do so. You can simply follow [these steps](https://docs.bokeh.org/en/latest/docs/first_steps/installation.html)

2. To include Bokeh in your notebooks you can follow the [Bokeh: Using with Jupyter](https://docs.bokeh.org/en/latest/docs/user_guide/output/jupyter.html#jupyter) guide. Come back to this one when you need it

3. We aim to give you a gentle start with Bokeh and I am going to include more example code than usual in the follwing.
   * **HINT 1**: If you're not an experienced Python user, I recommend going to the [official user's guide](https://docs.bokeh.org/en/latest/docs/user_guide.html#userguide) and working through it. Start by clicking "Introduction" in the linked page. That page has a glossary, a section on output methods, stuff on settings, and interfaces that you can scroll through. The next page *Basic Plotting* where the action is. Spend some time working through that.
   * **HINT 2**: And by "working through it", I mean copy, paste, and run the code in your own notebook.

Ok. Let's get started. First a general announcement on the data.

> **Announcement**
> * During this entire lecture, as always, we are going to work with the SF Crime Data. 
> * We will use data for the **period 2010-2017***.


Now, to get you in the mood here's a little gif to illustrate what the goal of this exercise is:

## Let the python begin

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv',parse_dates={"dates":["Date","Time"]})
df.head()

,dates,PdId,IncidntNum,Incident Code,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,...,Fix It Zones as of 2017-11-06 2 2,DELETE - HSOC Zones 2 2,Fix It Zones as of 2018-02-07 2 2,"CBD, BID and GBD Boundaries as of 2017 2 2","Areas of Vulnerability, 2016 2 2",Central Market/Tenderloin Boundary 2 2,Central Market/Tenderloin Boundary Polygon - Updated 2 2,HSOC Zones as of 2018-06-05 2 2,OWED Public Spaces 2 2,Neighborhoods 2
0,2004-11-22 17:50:00,4133422003074,41334220,3074,ROBBERY,"ROBBERY, BODILY FORCE",Monday,INGLESIDE,NONE,GENEVA AV / SANTOS ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005-10-18 20:00:00,5118535807021,51185358,7021,VEHICLE THEFT,STOLEN AUTOMOBILE,Tuesday,PARK,NONE,TURK ST / STJOSEPHS AV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-02-15 02:00:00,4018830907021,40188309,7021,VEHICLE THEFT,STOLEN AUTOMOBILE,Sunday,SOUTHERN,NONE,BRANNAN ST / 1ST ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011-02-18 05:27:00,11014543126030,110145431,26030,ARSON,ARSON,Friday,INGLESIDE,NONE,0 Block of SANJUAN AV,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,94.0
4,2010-11-21 17:00:00,10108108004134,101081080,4134,ASSAULT,BATTERY,Sunday,SOUTHERN,NONE,400 Block of 10TH ST,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,32.0

In [3]:
focuscrimes = set(['WEAPON LAWS', 'PROSTITUTION', 'DRIVING UNDER THE INFLUENCE', 'ROBBERY', 'BURGLARY', 'ASSAULT', 'DRUNKENNESS', 'DRUG/NARCOTIC', 'TRESPASS', 'LARCENY/THEFT', 'VANDALISM', 'VEHICLE THEFT', 'STOLEN PROPERTY', 'DISORDERLY CONDUCT'])

In [4]:
df_filtered = df[df['Category'].isin(focuscrimes)]

In [5]:
df_filtered.head()

,dates,PdId,IncidntNum,Incident Code,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,...,Fix It Zones as of 2017-11-06 2 2,DELETE - HSOC Zones 2 2,Fix It Zones as of 2018-02-07 2 2,"CBD, BID and GBD Boundaries as of 2017 2 2","Areas of Vulnerability, 2016 2 2",Central Market/Tenderloin Boundary 2 2,Central Market/Tenderloin Boundary Polygon - Updated 2 2,HSOC Zones as of 2018-06-05 2 2,OWED Public Spaces 2 2,Neighborhoods 2
0,2004-11-22 17:50:00,4133422003074,41334220,3074,ROBBERY,"ROBBERY, BODILY FORCE",Monday,INGLESIDE,NONE,GENEVA AV / SANTOS ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005-10-18 20:00:00,5118535807021,51185358,7021,VEHICLE THEFT,STOLEN AUTOMOBILE,Tuesday,PARK,NONE,TURK ST / STJOSEPHS AV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-02-15 02:00:00,4018830907021,40188309,7021,VEHICLE THEFT,STOLEN AUTOMOBILE,Sunday,SOUTHERN,NONE,BRANNAN ST / 1ST ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2010-11-21 17:00:00,10108108004134,101081080,4134,ASSAULT,BATTERY,Sunday,SOUTHERN,NONE,400 Block of 10TH ST,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,32.0
5,2013-04-02 15:50:00,13027069804134,130270698,4134,ASSAULT,BATTERY,Tuesday,TARAVAL,NONE,14TH AV / SANTIAGO ST,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,44.0

In [6]:
# Take teh data from 2010-2017
df_filtered = df_filtered[(df_filtered['dates'].dt.year >=2010) & (df_filtered['dates'].dt.year<=2017)]

In [7]:
set(df_filtered['dates'].dt.year)

{2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017}

In [8]:
#Group the data by hour of day
df_filtered['24-hour'] =df_filtered['dates'].dt.hour
df_filtered.head()

,dates,PdId,IncidntNum,Incident Code,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,...,DELETE - HSOC Zones 2 2,Fix It Zones as of 2018-02-07 2 2,"CBD, BID and GBD Boundaries as of 2017 2 2","Areas of Vulnerability, 2016 2 2",Central Market/Tenderloin Boundary 2 2,Central Market/Tenderloin Boundary Polygon - Updated 2 2,HSOC Zones as of 2018-06-05 2 2,OWED Public Spaces 2 2,Neighborhoods 2,24-hour
4,2010-11-21 17:00:00,10108108004134,101081080,4134,ASSAULT,BATTERY,Sunday,SOUTHERN,NONE,400 Block of 10TH ST,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,32.0,17
5,2013-04-02 15:50:00,13027069804134,130270698,4134,ASSAULT,BATTERY,Tuesday,TARAVAL,NONE,14TH AV / SANTIAGO ST,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,44.0,15
6,2017-08-06 18:15:00,17063991304134,170639913,4134,ASSAULT,BATTERY,Sunday,SOUTHERN,NONE,800 Block of BRYANT ST,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,32.0,18
7,2016-03-03 19:30:00,16020415607020,160204156,7020,VEHICLE THEFT,STOLEN AND RECOVERED VEHICLE,Thursday,TARAVAL,NONE,100 Block of BEPLER ST,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19
11,2012-12-21 19:15:00,12620267506244,126202675,6244,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,CENTRAL,NONE,PACIFIC AV / GRANT AV,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,104.0,19

In [9]:
df_hour_day=df_filtered.groupby(['24-hour','Category'])['PdId'].count().reset_index(name='Count_hour_day')

In [10]:
df_hour_day

     24-hour                     Category  Count_hour_day
0          0                      ASSAULT            4837
1          0                     BURGLARY            1840
2          0           DISORDERLY CONDUCT             244
3          0  DRIVING UNDER THE INFLUENCE             399
4          0                DRUG/NARCOTIC            1606
..       ...                          ...             ...
331       23              STOLEN PROPERTY             285
332       23                     TRESPASS             312
333       23                    VANDALISM            3756
334       23                VEHICLE THEFT            3128
335       23                  WEAPON LAWS             631

[336 rows x 3 columns]

In [11]:
#Find teh total number of this type
count_total = df_filtered.groupby(['Category'])['PdId'].count().reset_index(name='count__total')

In [12]:
count_total

                       Category  count__total
0                       ASSAULT         87204
1                      BURGLARY         45781
2            DISORDERLY CONDUCT          4667
3   DRIVING UNDER THE INFLUENCE          3274
4                 DRUG/NARCOTIC         45802
5                   DRUNKENNESS          4933
6                 LARCENY/THEFT        284736
7                  PROSTITUTION          5692
8                       ROBBERY         27900
9               STOLEN PROPERTY          7074
10                     TRESPASS         10476
11                    VANDALISM         62371
12                VEHICLE THEFT         48645
13                  WEAPON LAWS         11523

In [13]:
merged = pd.merge(df_hour_day, count_total, on='Category')

In [14]:
merged

     24-hour     Category  Count_hour_day  count__total
0          0      ASSAULT            4837         87204
1          1      ASSAULT            4338         87204
2          2      ASSAULT            3910         87204
3          3      ASSAULT            2029         87204
4          4      ASSAULT            1223         87204
..       ...          ...             ...           ...
331       19  WEAPON LAWS             749         11523
332       20  WEAPON LAWS             627         11523
333       21  WEAPON LAWS             609         11523
334       22  WEAPON LAWS             725         11523
335       23  WEAPON LAWS             631         11523

[336 rows x 4 columns]

In [15]:
merged['normalized'] = merged.Count_hour_day.div(merged.count__total)

In [16]:
merged

     24-hour     Category  Count_hour_day  count__total  normalized
0          0      ASSAULT            4837         87204    0.055468
1          1      ASSAULT            4338         87204    0.049745
2          2      ASSAULT            3910         87204    0.044837
3          3      ASSAULT            2029         87204    0.023267
4          4      ASSAULT            1223         87204    0.014025
..       ...          ...             ...           ...         ...
331       19  WEAPON LAWS             749         11523    0.065000
332       20  WEAPON LAWS             627         11523    0.054413
333       21  WEAPON LAWS             609         11523    0.052851
334       22  WEAPON LAWS             725         11523    0.062918
335       23  WEAPON LAWS             631         11523    0.054760

[336 rows x 5 columns]

In [17]:
merged = merged.drop(columns=['Count_hour_day','count__total'])

In [18]:
df11 = pd.DataFrame(merged['normalized'], index=np.unique(merged['24-hour']) ,columns=[np.unique(merged['Category'])])

In [19]:
df11

,ASSAULT,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,LARCENY/THEFT,PROSTITUTION,ROBBERY,STOLEN PROPERTY,TRESPASS,VANDALISM,VEHICLE THEFT,WEAPON LAWS
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
j = 0
k = 24

for i in range(14):
    df11[df11.columns[i]] = merged["normalized"][j:k].values
    j = k
    k += 24

In [21]:
df11.insert(loc=0, column='hour', value=range(0,24))

In [22]:
# or with lambda function
#merged['normalized'] = merged.apply(lambda x: x['Count_hour_day'] / x['count__total'], axis=1)

In [58]:
import bokeh
from bokeh.models import ColumnDataSource, FactorRange
from bokeh.plotting import figure, show
from bokeh.models import Legend
from bokeh.palettes import Category20 as Palette

In [59]:
source = ColumnDataSource(df11)

In [60]:
hours = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24']

In [61]:
#p = figure(x_range= (0,24), y_range = (0,1),toolbar_location=None, tools="", title="Crimes per hour")

In [62]:
p = figure(width=1000,y_range = (0,0.2), x_range = FactorRange(factors=hours), tools="" ,toolbar_location=None,title="Crimes per hour")

bar ={} # to store vbars
items = []
colors = Palette[len(focuscrimes)]
### here we will do a for loop:

for indx,i in enumerate(focuscrimes):
    bar[i] = p.vbar(x='hour',width=0.8,  top=i, source= source, color = colors[indx],
                    ### we will create a vbar for each focuscrime
                     muted_alpha = 0., muted = True) 
    items.append((i, [bar[i]]))


legend = Legend(items=items)
p.add_layout(legend, 'left')
p.legend.click_policy="mute" ### assigns the click policy (you can try to use ''hide'
show(p) #displays your plot

![Movie](https://github.com/suneman/socialdata2021/blob/main/files/week8_1.gif?raw=true)


> ***Exercise***: Recreate the results from **Week 2** as an interactive visualisation (shown in the gif). To complete the exercise, follow the steps below to create your own version of the dataviz.

### Data prep

A key step is to set up the data right. So for this one, we'll be pretty strict about the steps. The workflow is

1. Take the data for the period of 2010-2017 and group it by hour-of-the-day.
2. We would like to be able to easily compare how the distribution of crimes differ from each other, not absolute numbers, so we will work on *normalized data*:
    * To normalise data for within a crime category you simply to devide the count for each hour by the total number of this crime type. (To give a concrete example in the `ASSAULT` category, take the number of assault-counts in 1st hour you should devide by the total number of assaults, then you devide number of assaults in 2nd hour by the total number of assaults and so on)
    *  Your life will be easiest if you organize your dataframe as shown in [this helpful screenshot](https://github.com/suneman/socialdataanalysis2020/blob/master/files/week8_1_data.PNG?raw=true).

If you've followed these steps, your data should be ready! Take a moment to celebrate. We now follow the [Bokeh guide for categorical data](https://docs.bokeh.org/en/latest/docs/user_guide/basic/bars.html):



1. First, let's convert our **Pandas Dataframe** to **Bokeh ColumnDataSource**: 
  > ```python
  > source = ColumnDataSource(your_processed_dataframe)
  > ## it is a standard way to convert your df to bokeh
  > ```
2. We also need to create an empty figure (we will add our stuff here later on). Mini sub-exercise: Find the a guide how to define a figure in Bokeh online. Here is a little help:
  > ```python
  > p = figure(...., x_range = FactorRange(factors=hours), ...) 
  > #p is a standard way to call figures in Bokeh
  > #make sure to add x_range. In my case hours is a list on the form ['1', '2', '3' ... , '24']
  > #read up on the FactorRange in the guide
  > #do not forget to add other attributes to the figure, e.g. title, axis names and so on
  > ```
3. Now we are going to add the bars. In order to do so, we will use **vbar** (see the guide for help):
  > ```python
  > bar ={} # to store vbars
  > ### here we will do a for loop:
  > for indx,i in enumerate(focuscrimes):
  >     bar[i] = p.vbar(x='name_of_the_column_that_contain_hours',  top=i, source= src, 
  >                     ### we will create a vbar for each focuscrime
  >                     legend_label=i,  muted_alpha=..., muted = ....) 
  > #i stands for a column that we use, top=y; we are specifying that our numbers comes from column i
  > #read up what legend_label, muted and muted_alpha do... you can add more attributes (you HAVE TO)
  > ```
4. The last thing to do is to make your legend interactive and display the figure:
  > ```python
  > p.legend.click_policy="mute" ### assigns the click policy (you can try to use ''hide'
  > show(p) #displays your plot
  > ```
5. You will notice that the legend appears in the middle of the figure (and it occludes some of the data). In order to fix this look into [this guide](https://stackoverflow.com/questions/26254619/position-of-the-legend-in-a-bokeh-plot) as a start. Below are some code snippets that you can use to deal with this problem (but read the guide first):
  > ```python
  > items = [] ### for the custom legend // you need to figure out where to add it
  > items.append((i, [bar[i]])) ### figure where to add it
  > legend = Legend(items=..., location=.....) ## figure where to add it
  > p.add_layout(...., ...) ## figure where to add it
  > ### if you read the guide, it will make sense
  > ```

Now you should be able to recreate this amazing visualisation.


**EXTRA feature**: If you're interested in detailed instructions for more Bokeh visualizations for your final project, you can find more inspiration **[here](https://github.com/suneman/socialdata2021/blob/main/lectures/Week8_extra_bokeh.ipynb)**.

## Part 3: Narrative Dataviz

Let's finish up with some reading

*Reading*: [Narrative Visualization: Telling Stories with Data](http://vis.stanford.edu/files/2010-Narrative-InfoVis.pdf) by Edward Segel and Jeffrey Heer. We'll read section 1-3 today. (And the rest a bit later).

When you get to section 3 it's fun to open up the examples mentioned by the authors in a browser and explore them as you read the text. 

> *Exercise*: Answer a couple of questions about the paper.
> 
> * What is the *Oxford English Dictionary's* defintion of a narrative?
> * What is your favorite visualization among the examples in section 3? Explain why in a few words.